/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* 1. GENERAL */
/* 1.1 Variables */

/* 1.2 Box Sizing */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* 1.3 Text */

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #2b2b2b;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin: 0.5em 0;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0.5em 0;
}

p {
  margin-top: 0.5em;
}

a:link {
  color: #640304;
}

a:visited {
  color: #640304;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: #640304;
}

/* 1.4 Buttons */

button,
.button,
a.button {
  display: inline-block;
  border: none;
  font-family: inherit;
  line-height: inherit;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s opacity;
  -o-transition: 0.5s opacity;
  transition: 0.5s opacity;
  min-width: 90px;
}

button:hover,
.button:hover,
a.button:hover,
button:focus,
.button:focus,
a.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button__primary {
  background-color: #640304;
  color: white;
}

a.button__primary {
  background-color: #640304;
  color: white;
}

.button__secondary {
  background-color: #2b2b2b;
  color: white;
}

a.button__secondary {
  background-color: #2b2b2b;
  color: white;
}

/* 1.5 Page Setup */

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* main {
  flex: 1;
} */

/* 2. HEADER */
/* 2.1 Header Container */

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 20px 0px;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 270px;
  flex: 0 1 270px;
}

.main-logo {
  display: block;
  height: 70px;
}

.nav-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 40px;
  flex: 1 0 40px;
  text-align: right;
}

/* 2.2 Responsive Menu */
/* 2.2.1 Desktop Menu*/

.main-menu {
  display: block;
  margin: 16px 0px;
}

.main-menu ul {
  list-style-type: none;
}

.main-menu li {
  display: inline-block;
  margin-left: 15px;
}

.main-menu-list__item--active {
  text-decoration: none;
}

.hamburger,
.sidebar-menu,
#hamburger-input {
  display: none;
}

/* 2.2.2 Mobile Menu */
/* 2.2.2.1 Sidebar Hidden */
@media screen and (max-width: 350px) {
  .page-header {
    width: auto;
    margin: 0px 5px;
  }
}

@media screen and (max-width: 650px) {
  .main-menu {
    display: none;
  }

  .nav-container {
    position: relative;
  }

  #hamburger-input,
  .hamburger {
    width: 30px;
    height: 24px;
    display: block;
    position: absolute;
    right: 0px;
    top: 50%;
    margin: -12px 0px 5px 5px;
  }

  #hamburger-input {
    cursor: pointer;
    z-index: 5;
    opacity: 0;
  }

  .hamburger {
    z-index: 4;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .hamburger__line {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #640304;
    -webkit-box-shadow: 0 0 1px 0px white inset;
    box-shadow: 0 0 1px 0px white inset;
  }

  .hamburger__line1 {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }

  .hamburger__line2 {
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }

  .hamburger__line3 {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }

  .sidebar-menu {
    display: block;
    visibility: visible;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    -webkit-transform: translate(150%);
    -ms-transform: translate(150%);
    transform: translate(150%);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    background-color: #ebeaea;
    z-index: 2;
  }

  .sidebar-menu ul {
    list-style-type: none;
    margin-top: 100px;
    text-align: center;
    padding: 0px;
  }

  .sidebar-menu li {
    width: 100%;
    line-height: 3;
    border-bottom: 1px solid #6f6f6f;
  }

  .sidebar-menu li:first-child {
    border-top: 1px solid #6f6f6f;
  }

  .sidebar-menu a {
    text-decoration: none;
    padding: 10px 50px;
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0.5s;
    -o-transition: opacity 0.5s, visibility 0.5s;
    transition: opacity 0.5s, visibility 0.5s;
    overflow: hidden;
    background: black;
    z-index: 1;
  }

  /* 2.2.2.2 Sidebar Visible */

  .nav-container #hamburger-input:checked ~ .hamburger .hamburger__line1 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .nav-container #hamburger-input:checked ~ .hamburger .hamburger__line2 {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }

  .nav-container #hamburger-input:checked ~ .hamburger .hamburger__line3 {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .nav-container #hamburger-input:checked ~ .sidebar-menu {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  #hamburger-input:checked ~ .overlay {
    visibility: visible;
    opacity: 0.4;
  }
}

/* 3. MAIN */

.main-content {
  max-width: 700px;
  padding: 0 10px;
  margin: 0px auto;
}

/* 4. FOOTER */

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 95%;
  margin: auto;
  padding: 20px 0px;
}

.page-footer__item:first-child {
  margin: 10px 0px;
}

.social-media img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

/* 5. PAGES */
/* 5.1 Home */

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 40px;
}

.profile__portrait {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 250px;
  flex: 0 0 250px;
  border-radius: 50%;
  padding: 20px;
  margin: auto;
}

.profile__portrait img {
  width: 250px;
  border-radius: 50%;
  position: relative;
}

.profile__text {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 250px;
  flex: 1 0 250px;
  padding: 20px;
}

/* 5.2 About */

.cv-download {
  text-align: center;
}

.boat-animation {
  width: 300px;
  margin: auto;
  text-align: center;
}

.boat-animation a {
  font-size: 70%;
  position: relative;
  top: -40px;
}

@-webkit-keyframes sail {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
}

@keyframes sail {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
}

.boat {
  -webkit-animation: sail 4s alternate infinite linear;
  animation: sail 4s alternate infinite linear;
}

@-webkit-keyframes swell {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(0, 300px);
    transform: translate(0, 300px);
  }
}

@keyframes swell {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(0, 300px);
    transform: translate(0, 300px);
  }
}

.waves {
  -webkit-animation: 4s swell infinite alternate linear;
  animation: 4s swell infinite alternate linear;
}

@-webkit-keyframes flow {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(300px, 0);
    transform: translate(300px, 0);
  }
}

@keyframes flow {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(300px, 0);
    transform: translate(300px, 0);
  }
}

.sea {
  -webkit-animation: 4s flow infinite alternate linear;
  animation: 4s flow infinite alternate linear;
}

/* 5.3 Work */

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.grid__item {
  background-color: #ebeaea;
  padding: 10px;
}

@media all and (max-width: 750px) and (min-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

/* 5.4 Contact */

.contact-details-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 80px 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto 10px auto 10px auto 10px auto;
  grid-template-areas:
    'address    contactform'
    'email      contactform'
    'telephone  contactform'
    'skype      contactform';
  gap: 10px 80px;
}

@media all and (max-width: 700px) and (min-width: 500px) {
  .contact-details-grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto 10px auto 10px auto;
    grid-template-areas:
      'address     email'
      'telephone   skype '
      'contactform contactform';
    gap: 10px 10px;
  }
}

@media all and (max-width: 500px) {
  .contact-details-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 10px auto 10px auto 10px auto 10px auto;
    grid-template-areas:
      'address'
      'email'
      'telephone'
      'skype'
      'contactform';
    gap: 10px 10px;
  }
}

.contact-details-grid__item.contact-address {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: address;
}

.contact-details-grid__item.contact-email {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: email;
}

.contact-form-grid > .contact-details-grid__item.contact-email {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.contact-details-grid__item.contact-telephone {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: telephone;
}

.contact-form-grid > .contact-details-grid__item.contact-telephone {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.contact-details-grid__item.contact-skype {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: skype;
}

.contact-details-grid__item.contact-form {
  -ms-grid-row: 1;
  -ms-grid-row-span: 7;
  -ms-grid-column: 3;
  grid-area: contactform;
}

.form-input {
  border: 1px solid #959595;
  border-radius: 3px;
  width: 100%;
  margin-top: 3px;
  color: #6f6f6f;
}

.form-textarea {
  resize: none;
  height: 150px;
  color: #6f6f6f;
}

.contact-form-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 10px auto 10px auto 10px auto;
  grid-template-areas:
    'firstname  lastname'
    'email      telephone'
    'message    message'
    'submit     submit';
  gap: 10px;
}

@media all and (max-width: 500px) {
  .contact-form-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      'firstname'
      'lastname'
      'email'
      'telephone'
      'message'
      'submit';
  }
  .contact-form-grid > .contact-details-grid__item.contact-email {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .contact-form-grid > .contact-details-grid__item.contact-telephone {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
}

.contact-details-grid__item input:focus-visible,
.contact-details-grid__item textarea:focus-visible {
  outline-color: #2b2b2b;
}

.contact-form-grid__item.form-first-name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: firstname;
}

.contact-form-grid__item.form-last-name {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: lastname;
}

.contact-form-grid__item.form-email {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: email;
}

.contact-form-grid > .contact-form-grid__item.form-email {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.contact-form-grid__item.form-telephone {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: telephone;
}

.contact-form-grid > .contact-form-grid__item.form-telephone {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.contact-form-grid__item.form-message {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: message;
}

.contact-form-grid__item.form-submit-button {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: submit;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: right;
  justify-self: right;
}

@media all and (max-width: 700px) and (min-width: 500px) {
  .contact-details-grid__item.contact-address {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .contact-details-grid__item.contact-email {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .contact-details-grid__item.contact-telephone {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .contact-details-grid__item.contact-skype {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .contact-details-grid__item.contact-form {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .contact-form-grid__item.form-email {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .contact-form-grid__item.form-telephone {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}

@media all and (max-width: 500px) {
  .contact-details-grid__item.contact-address {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .contact-details-grid__item.contact-email {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .contact-details-grid__item.contact-telephone {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .contact-details-grid__item.contact-skype {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .contact-details-grid__item.contact-form {
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .contact-form-grid__item.form-first-name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .contact-form-grid__item.form-last-name {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .contact-form-grid__item.form-email {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .contact-form-grid > .contact-form-grid__item.form-email {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .contact-form-grid__item.form-telephone {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .contact-form-grid > .contact-form-grid__item.form-telephone {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .contact-form-grid__item.form-message {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .contact-form-grid__item.form-submit-button {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}

@media all and (max-width: 500px) {
  .contact-form-grid__item.form-submit-button {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

.contact-form-grid__item {
  line-height: 1.15;
  padding-bottom: 1rem;
  position: relative;
}

.contact-form-grid__item label {
  margin-bottom: 3px;
}

.contact-form-grid__item .error-message {
  color: #e30101;
  visibility: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
}

.contact-form-grid__item.form-message .error-message {
  bottom: 0.3em;
}

.contact-form-grid__item .error-message.is-visible {
  visibility: visible;
}
