/* Case Study */

@use "_variables" as *;

@use "_mixins" as *;

#case-study-header {
  @include stickyHeader();
  @include headerShadow();
  background-color: $case-study-header-bg-color;
  a {
    color: $light-text-color;
    text-decoration: none;
  }
  h1 {
    color: $light-text-color;
  }
  h6 {
    color: $lighter-secondary-color;
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
  }
  @include xsmall() {
    flex-direction: column;
  }
}

.case-study-container {
  @include container();
  align-items: flex-start;
  margin-bottom: 3rem;
  .centered-figure {
    align-self: center;
  }
  .full-width-figure {
    width: 100%;
    margin: 0;
  }
  h4 {
    margin: 6rem 0 1.5rem 0;
    text-align: left;
    &.paragraph-title {
      font-size: 1.4rem;
      margin: 2rem 0 0.5rem 0;
    }
    &.small-paragraph-title {
      font-size: 1.2rem;
      margin: 1rem 0 0.5rem 0;
    }
  }
  ul {
    margin-top: 0;
  }
  figcaption {
    text-align: center;
    font-size: smaller;
  }
  pre {
    width: 100%;
    overflow-x: auto;
    // white-space: pre-wrap;
    code {
      font-size: smaller;
    }
  }
}

#case-study-footer {
  background-color: $contact-bg-color;
  color: $light-text-color;
}
