@use "_media-queries" as *;

.main-menu {
  flex: 1 0 0;
  text-align: right;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 3%;
  }
  @include xsmall() {
    display: none;
  }
}

.main-menu__item.active {
  text-decoration: none;
}
