.main-menu {
  flex: 1 0 0;
  text-align: right;
  @media all and (max-width: 576px) {
    width: 100%;
    text-align: center;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 3%;
    @media all and (max-width: 576px) {
      justify-content: space-around;
    }
  }
}

.main-menu__item.active {
  text-decoration: none;
}
