@use "_media-queries" as *;

@mixin btn() {
  display: block;
  position: relative;
  width: 28px;
  height: 28px;
  transition-duration: 0.5s;
}

@mixin meat($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: $top;
  background-color: var(--primary-color);
}

@mixin bread($height, $width, $top) {
  @include meat($height, $width, $top);
  content: "";
}

.mobile-menu-button {
  display: none;

  @include xsmall() {
    @include btn();

    .hamburger-icon {
      @include meat(4px, 28px, 13px);

      &:before {
        @include bread(4px, 28px, -8px);
      }

      &:after {
        @include bread(4px, 28px, 8px);
      }
    }

    &.show-menu {
      .hamburger-icon {
        background: transparent;

        &:before {
          transform: rotateZ(40deg) scaleX(1.1) translate(4px, 7px);
        }

        &:after {
          transform: rotateZ(-40deg) scaleX(1.1) translate(4px, -7px);
        }
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.mobile-menu {
  position: absolute;
  width: 100%;
  background-color: var(--primary-color);
  z-index: 9;
  ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  li {
    border: 0;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    a {
      color: var(--light-text-color);
      text-decoration: none;
      width: 100%;
      visibility: hidden;
    }
  }
  &.show-menu {
    li {
      height: 2rem;
      border-bottom: 1px solid var(--light-text-color);
      a {
        visibility: visible;
      }
    }
  }
}

.mobile-menu-overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: black;
  opacity: 0;
  visibility: hidden;
  z-index: 8;
  transition: opacity 0.5s, visibility 0.5s;
  &.show-menu {
    opacity: 0.5;
    visibility: visible;
  }
}
