@use "_media-queries" as *;

@mixin oswald {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

body,
html {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--dark-text-color);
}

h1 {
  @include oswald();
  font-size: 28px;
  color: var(--primary-color);
  margin: 0.25rem 0;
  line-height: 1.2;
  // border: 1px solid black;
}

h2 {
  @include oswald();
  font-size: 48px;
  line-height: 110%;
  margin: 0;
  @include medium() {
    font-size: 40px;
  }
  @include xsmall {
    font-size: 28px;
  }
}

h3 {
  @include oswald();
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

h4 {
  @include oswald();
  font-size: 1.8rem;
  margin: 3rem 0 1.5rem 0;
  color: var(--primary-color);
}

h5 {
  @include oswald();
  font-size: 1.4rem;
  margin: 0.25rem 0;
  text-align: center;
}

h6 {
  @include oswald();
  font-size: 1.4rem;
  margin: 1rem 0;
}

p {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

a:link,
a:visited {
  color: var(--primary-color);
}

a:hover {
  opacity: 0.8;
}

a:active {
  opacity: 0.6;
}
