body,
html {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: var(--dark-text-color);
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin: 0.25rem 0;
  line-height: 1.2;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0.5rem 0;
}

h3 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

p {
  margin-top: 0.5rem;
}

a:link,
a:visited {
  color: var(--primary-color);
}

a:hover {
  color: var(--lighter-primary-color);
}

a:active {
  color: var(--primary-color);
}

// .bold {
//   font-weight: bold;
// }
