// $primary-color: #901a2c;
$primary-color: #840014;
$darker-primary-color: #6a0010;
$secondary-color: #2b2b2b;
$lighter-secondary-color: #959595;

$dark-text-color: #2b2b2b;
$light-text-color: #eaeaea;

$bg-color: white;
$about-bg-color: #fbfbfb;
$projects-bg-color: #f7f7f7;
$skills-bg-color: #eeeeee;
$contact-bg-color: #6a0010;
$credits-bg-color: black;
$credits-link-color: #bbbbbb;
$case-study-header-bg-color: #840014;

$overlay: rgba(0, 0, 0, 0.3);
$shadow-color: #959595;

$header-offset: 44px;
