:root {
  --primary-color: #840014;
  --darker-primary-color: #640304;
  --lighter-primary-color: #963b61;
  --secondary-color: #2b2b2b;
  --lighter-secondary-color: #959595;
  --dark-text-color: #2b2b2b;
  --light-text-color: #ebeaea;
  --bg-color: white;
  --gray-bg-color: #ebeaea;
  --red-bg-color: #640304;
  --overlay: rgba(0, 0, 0, 0.3);

  --border: 1px solid var(--primary-color);

  --header-offset: 44px;
  --mobile-header-offset: 74px;
}
