@use "_variables";

@use "_typography";

@use "_buttons";

@use "_forms";

@use "_menu";

@mixin container() {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media all and (max-width: 1200px) {
    width: 90%;
  }

  @media all and (max-width: 576px) {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@mixin section-container() {
  @include container();
  padding-top: 2rem;
}

/* 1 GENERAL */

* {
  box-sizing: border-box;
}

section {
  border-bottom: var(--border);
  scroll-margin-top: var(--header-offset);
  @media all and (max-width: 576px) {
    scroll-margin-top: var(--mobile-header-offset);
  }
}

/* 2. HEADER */

#header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--bg-color);
  border-bottom: var(--border);
}

.header-container {
  @include container();
  flex-direction: row;

  @media all and (max-width: 576px) {
    flex-direction: column;
  }
}

.main-title {
  h1 {
    @media all and (max-width: 576px) {
      font-size: 24px;
      margin-bottom: 0.5rem;
    }
  }
}

/* 3 HOME */

#home {
  background-image: url("../img/hero-5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 40%;
  position: relative;

  @media all and (max-width: 768px) {
    padding-top: 60%;
    background-position: 60% 50%;
  }
}

.home-caption {
  background-color: var(--overlay);
  position: absolute;
  bottom: 2rem;
  right: 15%;
  width: 35%;
  text-align: right;
  padding: 1rem;
  color: var(--light-text-color);

  @media all and (max-width: 1400px) {
    width: 70%;
  }

  @media all and (max-width: 1200px) {
    right: 5%;
    width: 90%;
    bottom: 1rem;
  }

  @media all and (max-width: 576px) {
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0.5rem 1rem;
  }
}

/* 4 ABOUT */

.about-container {
  @include container();
}

.about-boat {
  width: 400px;
  text-align: center;

  .about-boat__caption {
    position: relative;
    top: -60px;
  }
}

.cv-download {
  text-align: center;
}

/* 5 Code */

#code {
  background-color: var(--gray-bg-color);
}

.code-container {
  @include container();
  gap: 3rem;
  padding-bottom: 3rem;
}

.code-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  @media all and (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}

.code-grid__item {
  border: var(--border);
  background-color: var(--bg-color);
  .item-image {
    padding: 1px;
  }
  .item-text {
    padding: 1.5rem;
  }
}

/* 6 CONTACT */

#contact {
  background-color: var(--red-bg-color);
  color: var(--light-text-color);
}

.contact-container {
  @include container();
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding: 3rem 0;
  p {
    margin: 0.25rem 0;
  }
  @media all and (max-width: 992px) {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

.contact-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 40px;
    height: 40px;
    margin: 0.5rem 0.25rem;
    color: var(--light-text-color);
  }
}
