@use "_variables" as *;

@use "_typography";

@use "_buttons";

@use "_menu";

@use "_mobile-menu";

@use "_media-queries" as *;

@mixin container() {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include large() {
    width: 90%;
  }

  @include xsmall() {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@mixin stickyHeader() {
  position: sticky;
  top: 0;
  z-index: 10;
}

@mixin header-shadow() {
  box-shadow: 0 4px 6px -2px $shadow-color;
  // transition: box-shadow 0.3s ease;
  // &:hover {
  //   box-shadow: 0 8px 12px -4px $shadow-color;
  // }
}

@mixin card-shadow() {
  box-shadow: 0 4px 6px $shadow-color;
  transition: box-shadow 0.3s ease;
  &:hover {
    box-shadow: 0 8px 12px $shadow-color;
  }
}

/* 1 GENERAL */

* {
  box-sizing: border-box;
}

section,
footer {
  scroll-margin-top: $header-offset;
}

/* 2. HEADER */

#header {
  @include stickyHeader();
  @include header-shadow();
  background-color: $bg-color;
}

.header-container {
  @include container();
  flex-direction: row;
  justify-content: space-between;
}

.main-title {
  a {
    text-decoration: none;
  }
}
/* 3 HOME */

#home {
  background-image: url("../img/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 40%;
  position: relative;

  @include small() {
    padding-top: 60%;
    background-position: 60% 50%;
  }

  @include xsmall() {
    padding-top: 70%;
    background-position: 70% 30%;
  }
}

.home-caption {
  background-color: $overlay;
  position: absolute;
  bottom: 2rem;
  right: 15%;
  width: 35%;
  text-align: right;
  padding: 1rem;
  color: $light-text-color;

  @include xlarge() {
    width: 70%;
  }

  @include large() {
    right: 5%;
    width: 90%;
    bottom: 1rem;
  }

  @include xsmall() {
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0.5rem 1rem;
  }
}

/* 4 ABOUT */

#about {
  background-color: $about-bg-color;
}

.about-container {
  @include container();
}

.about-boat {
  width: 400px;
  text-align: center;
  @include xsmall {
    width: 300px;
  }

  .about-boat__caption {
    position: relative;
    top: -60px;
  }
}

.cv-download {
  text-align: center;
}

/* Skills */
#skills {
  background-color: $skills-bg-color;
}

.skills-container {
  @include container();
  align-items: flex-start;
  padding-bottom: 3rem;
}

.skills-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
}

.skills-grid__item {
  padding: 1rem;
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 2rem;
  @include card-shadow();

  h5 {
    text-align: left;
  }
  ul {
    padding-inline-start: 0;
    list-style-type: none;
  }
  .item-image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    img {
      height: 80px;
    }
  }
  .item-text {
    margin-left: 5%;
  }
}

/* 6 Projects */

#projects {
  background-color: $projects-bg-color;
}

.projects-container {
  @include container();
  gap: 3rem;
  padding-bottom: 3rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  @include small() {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}

.projects-grid__item {
  background-color: $bg-color;
  @include card-shadow();
  // .item-image {
  //   padding: 1px;
  // }
  .item-text {
    padding: 1.5rem;
  }
}

/* 7 Contact */

#contact {
  background-color: $contact-bg-color;
  color: $light-text-color;
}

.contact-container {
  @include container();
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding: 3rem 0;
  p,
  address {
    margin: 0.25rem 0;
    font-style: normal;
  }
  @include medium() {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

.contact-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 40px;
    height: 40px;
    margin: 0.5rem 0.25rem;
    color: $light-text-color;
  }
}

/* 8 Credits */
#credits {
  background-color: $credits-bg-color;
  color: $light-text-color;
  font-size: 0.6rem;
  a {
    color: $credits-link-color;
  }
}

.credits-container {
  @include container();
}

/* 9 Case Study */
#case-study-header {
  @include stickyHeader();
  background-color: $primary-color;
  a {
    color: $light-text-color;
    text-decoration: none;
  }
  h1 {
    color: $light-text-color;
  }
  h6 {
    color: $lighter-secondary-color;
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
  }
  @include xsmall() {
    flex-direction: column;
  }
}

.case-study-container {
  @include container();
  align-items: flex-start;
  margin-bottom: 3rem;
  .centered-figure {
    align-self: center;
  }
  .full-width-figure {
    width: 100%;
    margin: 0;
  }
  h4 {
    margin: 6rem 0 1.5rem 0;
    text-align: left;
    &.paragraph-title {
      font-size: 1.4rem;
      margin: 2rem 0 0.5rem 0;
    }
    &.small-paragraph-title {
      font-size: 1.2rem;
      margin: 1rem 0 0.5rem 0;
    }
  }
  ul {
    margin-top: 0;
  }
  figcaption {
    text-align: center;
    font-size: smaller;
  }
  pre {
    width: 100%;
    overflow-x: auto;
    // white-space: pre-wrap;
    code {
      font-size: smaller;
    }
  }
}

#case-study-footer {
  background-color: $secondary-color;
  color: $light-text-color;
  border: none;
}
