:root {
  --primary-color: #840014;
  --darker-primary-color: #640304;
  --lighter-primary-color: #963b61;
  --secondary-color: #2b2b2b;
  --lighter-secondary-color: #959595;
  --dark-text-color: #2b2b2b;
  --light-text-color: #ebeaea;
  --bg-color: white;
  --gray-bg-color: #ebeaea;
  --red-bg-color: #640304;
  --overlay: rgba(0, 0, 0, 0.3);
  --border: 1px solid var(--primary-color);
  --header-offset: 44px;
  --mobile-header-offset: 76px;
}

body,
html {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--dark-text-color);
}

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 28px;
  color: var(--primary-color);
  margin: 0.25rem 0;
  line-height: 1.2;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 110%;
  margin: 0;
}
@media (max-width: 992px) {
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  margin: 3rem 0 1.5rem 0;
  color: var(--primary-color);
}

h5 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  margin: 0.25rem 0;
  text-align: center;
}

h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  margin: 1rem 0;
}

p {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

a:link,
a:visited {
  color: var(--primary-color);
}

a:hover {
  opacity: 0.8;
}

a:active {
  opacity: 0.6;
}

button,
.button,
a.button {
  display: inline-block;
  border: none;
  font-family: inherit;
  line-height: inherit;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  transition: 0.5s opacity;
}

button:hover,
.button:hover,
a.button:hover,
button:focus,
.button:focus,
a.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

button:active,
.button:active,
a.button:active {
  opacity: 0.6;
  transition: all 0.3s ease;
}

.button-primary,
a.button-primary {
  background-color: var(--primary-color);
  color: var(--light-text-color);
}

.button-secondary,
a.button-secondary {
  background-color: var(--secondary-color);
  color: var(--light-text-color);
}

.form-input {
  border: 1px solid var(--lighter-secondary-color);
  border-radius: 3px;
}

.form-textarea {
  resize: none;
  height: 200px;
}

.main-menu {
  flex: 1 0 0;
  text-align: right;
}
@media all and (max-width: 576px) {
  .main-menu {
    width: 100%;
    text-align: center;
  }
}
.main-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  gap: 3%;
}
@media all and (max-width: 576px) {
  .main-menu ul {
    justify-content: space-around;
  }
}

.main-menu__item.active {
  text-decoration: none;
}

/* 1 GENERAL */
* {
  box-sizing: border-box;
}

section {
  border-bottom: var(--border);
  scroll-margin-top: var(--header-offset);
}
@media (max-width: 576px) {
  section {
    scroll-margin-top: var(--mobile-header-offset);
  }
}

/* 2. HEADER */
#header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--bg-color);
  border-bottom: var(--border);
}

.header-container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 1200px) {
  .header-container {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .header-container {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@media (max-width: 576px) {
  .header-container {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .main-title h1 {
    font-size: 24px;
    margin-bottom: 0.5rem;
  }
}

/* 3 HOME */
#home {
  background-image: url("../img/hero-5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 40%;
  position: relative;
}
@media (max-width: 768px) {
  #home {
    padding-top: 60%;
    background-position: 60% 50%;
  }
}

.home-caption {
  background-color: var(--overlay);
  position: absolute;
  bottom: 2rem;
  right: 15%;
  width: 35%;
  text-align: right;
  padding: 1rem;
  color: var(--light-text-color);
}
@media (max-width: 1400px) {
  .home-caption {
    width: 70%;
  }
}
@media (max-width: 1200px) {
  .home-caption {
    right: 5%;
    width: 90%;
    bottom: 1rem;
  }
}
@media (max-width: 576px) {
  .home-caption {
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0.5rem 1rem;
  }
}

/* 4 ABOUT */
.about-container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1200px) {
  .about-container {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .about-container {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.about-boat {
  width: 400px;
  text-align: center;
}
.about-boat .about-boat__caption {
  position: relative;
  top: -60px;
}

.cv-download {
  text-align: center;
}

/* 5 Code */
#code {
  background-color: var(--gray-bg-color);
}

.code-container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-bottom: 3rem;
}
@media (max-width: 1200px) {
  .code-container {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .code-container {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.code-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
@media (max-width: 768px) {
  .code-grid {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}

.code-grid__item {
  border: var(--border);
  background-color: var(--bg-color);
}
.code-grid__item .item-image {
  padding: 1px;
}
.code-grid__item .item-text {
  padding: 1.5rem;
}

/* 6 CONTACT */
#contact {
  background-color: var(--red-bg-color);
  color: var(--light-text-color);
}

.contact-container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding: 3rem 0;
}
@media (max-width: 1200px) {
  .contact-container {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .contact-container {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
.contact-container p {
  margin: 0.25rem 0;
}
@media (max-width: 992px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

.contact-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-social img {
  width: 40px;
  height: 40px;
  margin: 0.5rem 0.25rem;
  color: var(--light-text-color);
}/*# sourceMappingURL=styles.css.map */