body,
html {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #2b2b2b;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 28px;
  color: #840014;
  margin: 0.25rem 0;
  line-height: 1.2;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 110%;
  margin: 0;
}
@media (max-width: 992px) {
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  margin: 3rem 0 1.5rem 0;
  color: #840014;
}

h5 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  margin: 0.25rem 0;
  text-align: center;
}

h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  margin: 1rem 0;
}

p {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

a:link,
a:visited {
  color: #840014;
  box-shadow: all 0.3s ease;
}

a:hover {
  opacity: 0.8;
}

a:active {
  opacity: 0.6;
}

button,
.button,
a.button {
  display: inline-block;
  border: none;
  font-family: inherit;
  line-height: inherit;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  transition: 0.5s opacity;
}

button:hover,
.button:hover,
a.button:hover,
button:focus,
.button:focus,
a.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

button:active,
.button:active,
a.button:active {
  opacity: 0.6;
  transition: all 0.3s ease;
}

.button-primary,
a.button-primary {
  background-color: #840014;
  color: #eaeaea;
}

.button-secondary,
a.button-secondary {
  background-color: #2b2b2b;
  color: #eaeaea;
}

.main-menu {
  flex: 1 0 0;
  text-align: right;
}
.main-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  gap: 3%;
}
@media (max-width: 576px) {
  .main-menu {
    display: none;
  }
}

.main-menu__item.active {
  text-decoration: none;
}

.mobile-menu-button {
  display: none;
}
@media (max-width: 576px) {
  .mobile-menu-button {
    display: block;
    position: relative;
    width: 28px;
    height: 28px;
    transition-duration: 0.5s;
  }
  .mobile-menu-button .hamburger-icon {
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    width: 28px;
    top: 13px;
    background-color: #840014;
  }
  .mobile-menu-button .hamburger-icon:before {
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    width: 28px;
    top: -8px;
    background-color: #840014;
    content: "";
  }
  .mobile-menu-button .hamburger-icon:after {
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    width: 28px;
    top: 8px;
    background-color: #840014;
    content: "";
  }
  .mobile-menu-button.show-menu .hamburger-icon {
    background: transparent;
  }
  .mobile-menu-button.show-menu .hamburger-icon:before {
    transform: rotateZ(40deg) scaleX(1.1) translate(4px, 7px);
  }
  .mobile-menu-button.show-menu .hamburger-icon:after {
    transform: rotateZ(-40deg) scaleX(1.1) translate(4px, -7px);
  }
  .mobile-menu-button:hover {
    cursor: pointer;
  }
}

.mobile-menu {
  position: absolute;
  width: 100%;
  background-color: #840014;
  z-index: 9;
}
.mobile-menu ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.mobile-menu li {
  border: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.mobile-menu li a {
  color: #eaeaea;
  text-decoration: none;
  width: 100%;
  visibility: hidden;
}
.mobile-menu.show-menu li {
  height: 2rem;
  border-bottom: 1px solid #eaeaea;
}
.mobile-menu.show-menu li a {
  visibility: visible;
}

.mobile-menu-overlay {
  position: absolute;
  height: calc(100vh - 44px);
  width: 100%;
  background: black;
  opacity: 0;
  visibility: hidden;
  z-index: 8;
  transition: opacity 0.5s, visibility 0.5s;
}
.mobile-menu-overlay.show-menu {
  opacity: 0.5;
  visibility: visible;
}

/* Case Study */
#case-study-header {
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 4px 6px -2px #959595;
  background-color: #840014;
}
#case-study-header a {
  color: #eaeaea;
  text-decoration: none;
}
#case-study-header h1 {
  color: #eaeaea;
}
#case-study-header h6 {
  color: #959595;
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}
@media (max-width: 576px) {
  #case-study-header {
    flex-direction: column;
  }
}

.case-study-container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  margin-bottom: 3rem;
}
@media (max-width: 1200px) {
  .case-study-container {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .case-study-container {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
.case-study-container .centered-figure {
  align-self: center;
}
.case-study-container .full-width-figure {
  width: 100%;
  margin: 0;
}
.case-study-container h4 {
  margin: 6rem 0 1.5rem 0;
  text-align: left;
}
.case-study-container h4.paragraph-title {
  font-size: 1.4rem;
  margin: 2rem 0 0.5rem 0;
}
.case-study-container h4.small-paragraph-title {
  font-size: 1.2rem;
  margin: 1rem 0 0.5rem 0;
}
.case-study-container ul {
  margin-top: 0;
}
.case-study-container figcaption {
  text-align: center;
  font-size: smaller;
}
.case-study-container pre {
  width: 100%;
  overflow-x: auto;
}
.case-study-container pre code {
  font-size: smaller;
}

#case-study-footer {
  background-color: #6a0010;
  color: #eaeaea;
}

/* 1 GENERAL */
* {
  box-sizing: border-box;
}

section,
footer {
  scroll-margin-top: 44px;
}

/* 2. HEADER */
#header {
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 4px 6px -2px #959595;
  background-color: white;
}

.header-container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .header-container {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .header-container {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.main-title a {
  text-decoration: none;
}

/* 3 HOME */
#home {
  background-image: url("../img/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 40%;
  position: relative;
}
@media (max-width: 768px) {
  #home {
    padding-top: 60%;
    background-position: 60% 50%;
  }
}
@media (max-width: 576px) {
  #home {
    padding-top: 70%;
    background-position: 70% 30%;
  }
}

.home-caption {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 2rem;
  right: 15%;
  width: 35%;
  text-align: right;
  padding: 1rem;
  color: #eaeaea;
}
@media (max-width: 1400px) {
  .home-caption {
    width: 70%;
  }
}
@media (max-width: 1200px) {
  .home-caption {
    right: 5%;
    width: 90%;
    bottom: 1rem;
  }
}
@media (max-width: 576px) {
  .home-caption {
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0.5rem 1rem;
  }
}

/* 4 ABOUT */
#about {
  background-color: #fbfbfb;
}

.about-container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1200px) {
  .about-container {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .about-container {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.about-boat {
  width: 400px;
  text-align: center;
}
@media (max-width: 576px) {
  .about-boat {
    width: 300px;
  }
}
.about-boat .about-boat__caption {
  position: relative;
  top: -60px;
}

.cv-download {
  text-align: center;
}

/* Skills */
#skills {
  background-color: #eeeeee;
}

.skills-container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  padding-bottom: 3rem;
}
@media (max-width: 1200px) {
  .skills-container {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .skills-container {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.skills-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  gap: 1rem;
}
@media (max-width: 1400px) {
  .skills-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.skills-grid__item {
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 1.2em;
  box-shadow: 0 4px 6px #959595;
  transition: box-shadow 0.3s ease;
}
.skills-grid__item:hover {
  box-shadow: 0 8px 12px #959595;
}
.skills-grid__item h5 {
  text-align: left;
}
.skills-grid__item ul {
  padding-left: 0.5em;
  list-style-type: none;
}
.skills-grid__item li {
  margin-top: 0.5em;
}
.skills-grid__item li::before {
  content: "-";
  display: inline-block;
  width: 0.5em;
  margin-left: -0.5em;
}
.skills-grid__item .item-image {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.skills-grid__item .item-image img {
  height: 80px;
}
.skills-grid__item .item-text {
  margin-left: 5%;
}

/* 6 Projects */
#projects {
  background-color: #f7f7f7;
}

.projects-container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-bottom: 3rem;
}
@media (max-width: 1200px) {
  .projects-container {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .projects-container {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}

.projects-grid__item {
  background-color: white;
  box-shadow: 0 4px 6px #959595;
  transition: box-shadow 0.3s ease;
}
.projects-grid__item:hover {
  box-shadow: 0 8px 12px #959595;
}
.projects-grid__item .item-text {
  padding: 1.5rem;
}

/* 7 Contact */
#contact {
  background-color: #6a0010;
  color: #eaeaea;
}

.contact-container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding: 3rem 0;
}
@media (max-width: 1200px) {
  .contact-container {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .contact-container {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
.contact-container p,
.contact-container address {
  margin: 0.25rem 0;
  font-style: normal;
}
@media (max-width: 992px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

.contact-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-social img {
  width: 40px;
  height: 40px;
  margin: 0.5rem 0.25rem;
  color: #eaeaea;
}

/* 8 Credits */
#credits {
  background-color: black;
  color: #eaeaea;
  font-size: 0.6rem;
}
#credits a {
  color: #bbbbbb;
}

.credits-container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1200px) {
  .credits-container {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .credits-container {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}/*# sourceMappingURL=styles.css.map */